{% load static %}
{% load crispy_forms_tags %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@1,300&family=Ubuntu&display=swap" rel="stylesheet">

    <style>
        .formucolor {
            max-width: 25em;
            padding: 1.3em;
            margin: 0 auto;
            background-color: #D9D9D9;
            font-weight: bold;
            font-family: 'Ubuntu';


        }

        body {
            margin: 0;
            padding: 0;
            background: #222222;
            background-size: cover;
            font-family: sans-serif;
            height: 100vh;
        }

        .contenedor {
            display: flex;
            justify-content: right;
        }
    </style>

    <title>Login</title>

</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #666666;">
            <a href="{% url 'menu' %}"><img src="{% static 'core/img/BRIZUS.png' %}" alt="logo img" class="logo"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">

                <form class="form-inline my-2 my-lg-0">
                    <a href="javascript: history.go(-1)" class="btn1">Volver</a>
                </form>
              </div>
        </nav>
    </header>
   
    <div class="container">
        <div class="row">
            <divc class="col-12 col-md-6 offset-md-3"> 

                <div class="card-body">
                    <h2>Ingrese credenciales</h2>
                    <hr>
                    <form action="" method="post" class="formucolor">
                        <h2>Ingrese credenciales</h2> 

                        {% csrf_token %}
                        {{ form|crispy }}
                        <div class="contenedor">
                            <a href="{% url 'password_reset' %}" class="linkreg">¿Olvidasde tu contraseña?</a>
                            &nbsp;
                            <a href="{% provider_login_url 'google' %}?next=/" class="linkreg">
                                <i class="fab fa-google"></i>
                                Login con google
                            </a>
                            {% if user.is_authenticated %}
                            {% endif %}
                            <input type="submit" value="ingresar" class="botreg">
                            
                        </div>
                    </form>
                </div>

        </div>
    </div>
    </div>
</body>

</html>