/* Main */
.container-items{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: auto;
    width: 60%;
    height: 300px;
    padding: 15px 10px;
}

.container-items a{
    text-decoration: none;
}

.container-items a:hover{
    text-decoration: none;
}

.item{
    border-radius: 10px;
    background: #1C1C1C;
    
}

.item:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.20);
}

.item img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
    transition: all .5s;
}

.item figure{
    overflow: hidden;
    border-radius: 10px;
    
}

.item:hover img{
    transform: scale(1.2);
}

.info-product{
    padding: 15px 30px;
    line-height: 2;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #CCCCCC;
    font-family: 'Ubuntu';
}

.descripcion{
    font-size: 12px;
    height: 50px;
    width: 300px;
    text-align: justify;
    font-family: 'Ubuntu';
}

.price{
    font-size: 18px;
    font-weight: 900;
    margin-bottom: auto;
    font-family: 'Ubuntu';
}

.contenerdorbody{
    display: flex;
}

.acordeon{
    display: grid;
    margin: auto;
    width: 400px;
    height: 300px;
    padding: 15px;
    gap: 50px;
    
}

.custom-button {
    background-color: #1C1C1C !important;
    color: #CCCCCC !important;
    box-shadow: none !important;
}

.accordion-body {
    background-color: #1C1C1C;
    color: #CCCCCC; 
}

.accordion-item {
    border-color: #1C1C1C !important;
    background-color: #1C1C1C !important;
}

.form-select{
    background-color: #222222 !important;
    color: #CCCCCC !important;
}

.textoopciones{
    color: #CCCCCC;
}

.form-check{
    background-color: #1C1C1C !important;
    color: #CCCCCC !important;
}

.form-check-input{
    background-color: #222222 !important;
    box-shadow: none !important;
    border-color: #CCCCCC !important;
}
