#titulo{
    text-align: center;
    color: #CCCCCC !important;
    font-family: 'Ubuntu';
}

.imgproducto{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 10px 10px;
    transition: all .5s;
}

#contenedordescripcion{
    display: flex;
    padding: 15px 10px;
    
    
    
}

#descripcion{
    
    font-size: 14px;
    color: #CCCCCC;
    text-align: justify;
    font-family: 'Ubuntu'; 
    
}

.precios{
    background-color: #1C1C1C;
    color: #CCCCCC;
    border-radius: 10px 10px 10px 10px;
    font-family: 'Ubuntu';
    width: 200px;
    display: block !important;
}

#descrprecio{
    background-color: #1C1C1C;
    color: #CCCCCC;
    font-family: 'Ubuntu';
}

#comentarios{
    border-color: #1C1C1C !important;
    background-color: #1C1C1C !important;
    border-radius: 10px 10px 10px 10px;
    
}

.ttc{
    font-size: 32px;
    color: #CCCCCC;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
    font-family: 'Ubuntu';
}

.tta{
    font-size: 20px !important;
    color: #CCCCCC !important;
    text-align: center !important;
    font-family: 'Ubuntu' !important;

}


.lista-comentarios {
    background-color: #222222;
    color: #CCCCCC;
    border-color: #222222;
    font-family: 'Ubuntu';
}

.hacer-comentarios {
    background-color: #222222;
    color: #CCCCCC;
    border-color: #222222;
    font-family: 'Ubuntu';
}

.hacer-comentarios:focus{
    background-color: #222222;
    outline: none !important;
    border-color: #CCCCCC;
    box-shadow: none;
    color: #CCCCCC;
    font-family: 'Ubuntu';
}

.btnn{
    display: block !important;
    border: none !important;
    outline: none !important;
    height: 40px !important;
    background: #A59D95 !important;
    color: #222222 !important;
    font-size: 12px !important;
    border-radius: 50px !important;
    width: 100% !important;
    text-decoration: none !important;
    position: relative !important;
    display: block !important;
    text-align: center !important;
    font-family: 'Ubuntu' !important;
}

.btnn:hover{
    text-decoration: none !important;
    color: #222222 !important;
    background: #CCCCCC !important;
}

.bordeproduc{
    background-color: #1C1C1C;
    border-radius: 10px;
    margin-top: 13% !important;
}

.numcolor{
    background-color: #1C1C1C !important;
    color: #CCCCCC !important;
    border-color: transparent !important;
    font-size: 14px;
}

.ordenprecio{
    align-items: center;
    justify-content: center;
}

input[type="radio"] {
    display: none;
}