body {
    margin: 0;
    padding: 0;
    background: url(../img/perfumes.jpg) no-repeat center top;
    background-size: cover;
    font-family: sans-serif;
    height: 100vh;
}

header{
    width: 100%;
    overflow: hidden;
    background-color: #948E99;
    margin-bottom: 20px;
}


.logeo {
    float: right;
    padding: 20px 20px;
}

.logeo input[type="button"] {
    border: none;
    outline: none;
    height: 40px;
    background: #51425F;
    color: #CAD1C3;
    font-size: 12px;
    border-radius: 50px;
    width: 100px;
    
}

.logeo input:hover{
    cursor: pointer;
    background: white;
    color: #000;
}

.index {
    display: grid;
    place-items: center;
    color: #fff;
    top: 70%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.index input[type="button"] {
    border: none;
    outline: none;
    height: 40px;
    background: #51425F;
    color: #CAD1C3;
    font-size: 24px;
    border-radius: 50px;
    width: 600px;
}

.index input[type="button"]:hover {
    cursor: pointer;
    background: white;
    color: #000;
}