body {
    margin: 0;
    padding: 0;
    background: #51425F;
    background-size: cover;
    font-family: sans-serif; 
    height: 100vh;
}

.logo{
    width: 200px;
    margin-left: 20px;
}


/*.logeo {
    float: right;
    padding: 20px 20px;
}*/

.indexbtn {
    display: block; 
    place-items: center;
    top: 70%;
    left: 50%; 
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    text-align: center;
    border: none;
    outline: none;
    height: 40px;
    background: #51425F;
    color: #CAD1C3;
    font-size: 24px;
    border-radius: 50px;
    width: 600px;
    
}

.indexbtn:hover{
    cursor: pointer;
    background: white;
    color: #000;
    text-decoration: none;
}

/*header button{
    display: block;
    border: none;
    outline: none;
    height: 40px;
    background: #51425F;
    color: #CAD1C3;
    font-size: 12px;
    border-radius: 50px;
    width: 100px;
    text-decoration: none;
    margin-left: 5px;
}

header button:hover{
    cursor: pointer;
    background: white;
    color: #000;
    text-decoration: none;
}
header button a{
    display: block;
    color: #CAD1C3;
    text-decoration: none;
    
}

header button a:hover{
    text-decoration: none;
    color: #000;
}*/

.btn1{
    display: block;
    border: none;
    outline: none;
    height: 40px;
    background: #51425F;
    color: #CAD1C3;
    font-size: 12px;
    border-radius: 50px;
    width: 100px;
    text-decoration: none;
    margin-left: 5px;
    position: relative;
    display: block;
    color: #CAD1C3;
    padding: 10px;
    text-align: center;
    

}
.btn1:hover{
    text-decoration: none;
    color: #000;
    background: white;
}


header form{
    margin-left: auto;
}


/* REgistro*/
 
.botreg {
    display: block;
    border: none;
    outline: none;
    height: 40px;
    background: #51425F;
    color: #CAD1C3;
    font-size: 12px;
    border-radius: 50px;
    width: 100px;
    text-decoration: none;
    margin-left: auto;
}

.botreg:hover{
    cursor: pointer;
    background: white;
    color: #000;
    text-decoration: none;
}

.linkreg{
    display: block;
    text-decoration: none;
    color: #51425F;
}

.linkreg:hover{
    text-decoration: none;
    color: #000;
}
