{% load static %}
{% load crispy_forms_tags %}

<link href="{% static 'core/css/producto.css' %}" type="text/css" rel="stylesheet">

<div class="container p-2 mb-5 border border-light" id="comentarios">
    <h1 class="ttc">Comentarios</h1>
    <div class="row">
        <div class="col-md-8">
            <!-- Lista de comentarios -->
            <ul class="list-group">
            {% if comentarios %}
                {% for comentario in comentarios %}
                    <li class="list-group-item lista-comentarios">
                        <strong>{{ comentario.usuario.username }}</strong>:<span class="fa fa-star">{{ comentario.puntuacion }}</span> {{ comentario.texto }}
                    </li>
                {% endfor %}
            {% else %}
                    <li class="list-group-item lista-comentarios">No hay comentarios.</li>
            {% endif %}
            </ul>
        </div>
        <div class="col-md-4">
            <!-- Formulario para agregar comentarios -->
            <h3 class="tta">Agregar Comentario</h3>
            
            <form method="post" action="">
                {% csrf_token %}
                <div class="form-group">
                    <textarea class="form-control hacer-comentarios" id="texto" name="texto" rows="4" required></textarea>
                    <h3 class="tta">Puntuación: </h3>
                        <SPAN class="fa fa-star" onclick="calificar(this)"  style="cursor: pointer;" id="1estrella">
                            <input type="radio" name="puntuacion" value="1" required>
                        </SPAN>

                        <SPAN class="fa fa-star" onclick="calificar(this)"  style="cursor: pointer;" id="2estrella">
                            <input type="radio" name="puntuacion" value="2" required>
                        </SPAN>
        
                        <SPAN class="fa fa-star" onclick="calificar(this)"  style="cursor: pointer;" id="3estrella">
                            <input type="radio" name="puntuacion" value="3" required>
                        </SPAN>
        
                        <SPAN class="fa fa-star" onclick="calificar(this)"  style="cursor: pointer;" id="4estrella">
                            <input type="radio" name="puntuacion" value="4" required>
                        </SPAN>
        
                        <SPAN class="fa fa-star" onclick="calificar(this)"  style="cursor: pointer;" id="5estrella">
                            <input type="radio" name="puntuacion" value="5" required>
                        </SPAN>
                    </td>
                </div>
                <button type="submit" class="btnn">Agregar Comentario</button>
            </form>
        </div>
    </div>
</div>

<script>
    var contador;
    function calificar(item){
        contador=item.id[0];
        let nombre = item.id.substring(1);
        var radioInput = document.querySelector('input[name="puntuacion"][value="' + contador + '"]');
        for(let i=0;i<5;i++){
            if(i<contador){
                document.getElementById((i+1)+nombre).style.color="#CCCCCC";
                radioInput.checked = true;
            }else{
                document.getElementById((i+1)+nombre).style.color="black";
            }
        }
    }
    function Mensaje(){
        alert("Gracias por calificar este producto con "+contador+" estrellas.")
    }
</script>
