{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load crispy_forms_tags %}
<!-- Product section-->
<link href="{% static 'core/css/producto.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'core/css/style.css' %}" type="text/css" rel="stylesheet">
<link href="{% static 'core/css/main.css' %}" type="text/css" rel="stylesheet">

<section class="py-5 bordeproduc">
    <div class="container px-4 px-lg-5 my-5">
        <h1 class="display-5 text-light fw-bolder" id="titulo">{{producto.nombre}}</h1>
        <div class="row gx-4 gx-lg-5" id="contenedordescripcion">
            <div class="col-md-4" id="foto"><img class="imgproducto" src="{{producto.imagen}}" alt="..." /></div>
            <div class="col-md-5" id="descripcion">
                <p><strong>Descripción:</strong> {{producto.descripcion}}</p>
                <p><strong>Género:</strong> {{producto.genero}}</p>
                <p><strong>Marca:</strong> {{producto.marca}}</p>
                <p><strong>Contenido:</strong> {{producto.contenido_neto}}ML</p>
                <p><strong>Familia Olfativa:</strong> {{producto.familia_olfativa}}</p>
                <p><strong>Notas salida:</strong> {{producto.notas_salida}}</p>
                <p><strong>Notas corazón:</strong> {{producto.notas_corazon}}</p> 
                <p><strong>Notas fondo:</strong> {{producto.notas_fondo}}</p>
            </div>
            <div class="col-md-2">
                <div class="precios">
                    <div class="card-header">
                      Precios
                    </div>
                    <ol id="precio-tienda" class="list-group list-group-numbered">
                        {% for pre in precio %}
                        <li class="list-group-item d-flex justify-content-between align-items-start" id="descrprecio">
                          <div class="ms-2 me-auto">
                            <div id="tienda-container" class="fw-bold"><a href="{{pre.webScraping_url}}" target="_blank" rel="noopener noreferrer">{{pre.tienda}}</a></div>
                          </div>
                          <span id="price-container" class="badge bg-primary rounded-pill">{{pre.valor}}</span>
                        </li>
                        {% endfor %}
                    </ol>
                  </div>
            </div>
        </div>
    </div>
</section>
<section>
    {% include 'products/comentario.html' %}
</section>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous"/>
<div class="card">
    <div class="card-header">
    <h2>DÉJANOS TU PUNTUACIÓN<h2>
    </div>
        <div class="col-12">
            <table class="table" id="tabla_calificacion">
                <thead class="thead-dark">
                    <tr>
                        <th>Nombres y Apellidos</th>
                        <th>Calificaci&oacute;n</th>
                        <th>Acci&oacute;n</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>
                            <SPAN class="fa fa-star" onclick="calificar(this)"  style="cursor: pointer;" id="1estrella"></SPAN>

                            <SPAN class="fa fa-star" onclick="calificar(this)"  style="cursor: pointer;" id="2estrella"></SPAN>
            
                            <SPAN class="fa fa-star" onclick="calificar(this)"  style="cursor: pointer;" id="3estrella"></SPAN>
            
                            <SPAN class="fa fa-star" onclick="calificar(this)"  style="cursor: pointer;" id="4estrella"></SPAN>
            
                            <SPAN class="fa fa-star" onclick="calificar(this)"  style="cursor: pointer;" id="5estrella"></SPAN>
                        </td>
                        <td><button class="btn btn-primary" onclick="Mensaje()" >Calificar</button></td>
                    </tr>
                </tbody>
            </table>
              </div>
        </div>
</div>
<br>
<!-- Related items section-->
<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Related products</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Fancy Product</h5>
                            <!-- Product price-->
                            $40.00 - $80.00
                        </div>
                    </div>
                   
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section>
    <footer class="text-center" style="color: #CCCCCC;">
        <!-- Grid container -->
        <div class="footercard">
            <!-- Section: Social media -->
            <section class="">
                <!-- Facebook -->
                <a class="btn  btn-floating" href="https://www.facebook.com/" role="button"><i
                        class="fab fa-facebook-f"></i></a>
    
                <!-- Twitter -->
                <a class="btn  btn-floating" href="https://twitter.com/" role="button"><i class="fab fa-twitter"></i></a>
    
                <!-- Google -->
                <a class="btn  btn-floating" href="https://www.google.com/" role="button"><i class="fab fa-google"></i></a>
    
                <!-- Instagram -->
                <a class="btn  btn-floating" href="https://www.instagram.com/" role="button"><i
                        class="fab fa-instagram"></i></a>
    
                <!-- Linkedin -->
                <a class="btn  btn-floating" href="https://www.linkedin.com/" role="button"><i
                        class="fab fa-linkedin-in"></i></a>
    
                <!-- Github -->
                <a class="btn  btn-floating" href="https://github.com/" role="button"><i class="fab fa-github"></i></a>
                © 2023 Copyright:
                <a style="color: #CCCCCC;" href="http://127.0.0.1:8000/">Prizus.com</a>
            </section>
            <!-- Section: Social media -->
        </div>
    </footer>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

{% endblock %}