{% extends 'base.html' %}
{% block content %}
<!-- Product section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <h1 class="display-5 text-light fw-bolder">{{producto.nombre}}</h1>
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-4"><img class="card-img-top mb-5 mb-md-0" src="{{producto.imagen}}" alt="..." /></div>
            <div class="col-md-5">
                <p class="lead text-light">Descripción: {{producto.descripcion}}</p>
                <p class="lead text-light">Género: {{producto.genero}}</p>
                <p class="lead text-light">Marca: {{producto.marca}}</p>
                <p class="lead text-light">Año: {{producto.anno_lanzamiento}}</p>
                <p class="lead text-light">Contenido: {{producto.contenido_neto}}ML</p>
                <p class="lead text-light">Familia Olfativa: {{producto.familia_olfativa}}</p>
                <p class="lead text-light">Notas salida: {{producto.notas_salida}}</p>
                <p class="lead text-light">Notas corazón: {{producto.notas_corazon}}</p>
                <p class="lead text-light">Notas fondo: {{producto.notas_fondo}}</p>
            </div>
            <div class="col-md-2">
                <div class="card" style="width: 18rem;">
                    <div class="card-header">
                      Precios
                    </div>
                    {% if valores %}
                    {% for precio in valores %}
                    <ol class="list-group list-group-numbered">
                        <li class="list-group-item d-flex justify-content-between align-items-start">
                          <div class="ms-2 me-auto">
                            <div class="fw-bold">{{precio.tienda}}</div>
                          </div>
                          <span class="badge bg-primary rounded-pill">${{precio.valor}}</span>
                        </li>
                    </ol>
                    {% endfor %}
                    {% else %}
                    <ol class="list-group list-group-numbered">
                      <li class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                          <div class="fw-bold">No existen precios por el momento</div>
                        </div>
                      </li>
                    </ol>
                    {% endif %}
                  </div>
            </div>
        </div>
    </div>
</section>
<section>
    {% include 'products/comentario.html' %}
</section>
<!-- Related items section-->
<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Related products</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Fancy Product</h5>
                            <!-- Product price-->
                            $40.00 - $80.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}