{% extends 'base.html' %}
{% block content %}

{% load static %}
{% load crispy_forms_tags %}
<!-- Product section-->
<link href="{% static 'core/css/producto.css' %}" type="text/css" rel="stylesheet">

<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <h1 class="display-5 text-light fw-bolder" id="titulo">{{producto.nombre}}</h1>
        <div class="row gx-4 gx-lg-5" id="contenedordescripcion">
            <div class="col-md-4" id="foto"><img class="imgproducto" src="{{producto.imagen}}" alt="..." /></div>
            <div class="col-md-5" id="descripcion">
                <p><strong>Descripción:</strong> {{producto.descripcion}}</p>
                <p><strong>Género:</strong> {{producto.genero}}</p>
                <p><strong>Marca:</strong> {{producto.marca}}</p>
                <p><strong>Año:</strong> {{producto.anno_lanzamiento}}</p>
                <p><strong>Contenido:</strong> {{producto.contenido_neto}}ML</p>
                <p><strong>Familia Olfativa:</strong> {{producto.familia_olfativa}}</p>
                <p><strong>Notas salida:</strong> {{producto.notas_salida}}</p>
                <p><strong>Notas corazón:</strong> {{producto.notas_corazon}}</p>
                <p><strong>Notas fondo:</strong> {{producto.notas_fondo}}</p>
            </div>
            <div class="col-md-2">
                <div class="card" style="width: 18rem;" id="precios">
                    <div class="card-header">
                      Precios
                    </div>
                    {% if valores %}
                    {% for precio in valores %}
                    <ol class="list-group list-group-numbered">
                        <li class="list-group-item d-flex justify-content-between align-items-start" id="descrprecio">
                          <div class="ms-2 me-auto">
                            <div class="fw-bold">{{precio.tienda}}</div>
                          </div>
                          <span class="badge bg-primary rounded-pill">${{precio.valor}}</span>
                        </li>
                    </ol>
                    {% endfor %}
                    {% else %}
                    <ol class="list-group list-group-numbered">
                      <li class="list-group-item d-flex justify-content-between align-items-start" id="descrprecio">
                        <div class="ms-2 me-auto">
                          <div class="fw-bold">No existen precios por el momento</div>
                        </div>
                      </li>
                    </ol>
                    {% endif %}
                  </div>
            </div>
        </div>
    </div>
</section>
<section>
    {% include 'products/comentario.html' %}
</section>
<!-- Related items section-->
<section class="py-5 bg-light">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="fw-bolder mb-4">Related products</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="https://dummyimage.com/450x300/dee2e6/6c757d.jpg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h5 class="fw-bolder">Fancy Product</h5>
                            <!-- Product price-->
                            $40.00 - $80.00
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View options</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        // Lógica para cargar los precios con AJAX
        $.ajax({
            url: "{% url 'update_prices' slug=producto.slug %}",  // Reemplaza 'update_prices' con la URL correcta de tu vista AJAX
            type: 'GET',
            dataType: 'json',
            success: function(data) {
                console.log (data)
                var priceContainer = $('#price-container');
                priceContainer.empty();  // Limpia cualquier contenido anterior

                // Recorre los precios actualizados y añádelos al contenedor
                for (var i = 0; i < data.prices.length; i++) {
                    priceContainer.append('<p>' + data.prices[i] + '</p>');
                }
            },
            error: function(error) {
                console.log(error);
            }
        });
    });
</script>

{% endblock %}