{% extends 'registration2/components/base.html' %}
{% block content %}

<h2>{{ perfume.nombre }}</h2>
<form id="form" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <button type="submit">Guardar cambios</button>
    <div class="container">
        <div class="row gap-3">
            <div class="col-7 card bg-white">
                <div class="card-body row-cols-1">
                    <div class="col">
                        {{ form.nombre.label }}
                        {{ form.nombre }}
                    </div>
                    <div class="col">
                        {{ form.descripcion.label }}
                        {{ form.descripcion }}
                    </div>
                </div>
            </div>
            <div class="col-4 card bg-white">
                <div class="card-body">
                    <img src="{{ form.imagen.value }}" width="200" height="200">
                    {{ form.imagen.label }}
                    {{ form.imagen }}
                    {{ form.forma.label }}
                    {{ form.forma }}
                </div>
            </div>  
            <div class="col-7 card bg-white">
                <div class="card-body">
                    {{ form.familia_olfativa.label }}
                    {{ form.familia_olfativa }}
                    {{ form.notas_salida.label }}
                    {{ form.notas_salida }}
                    {{ form.notas_corazon.label }}
                    {{ form.notas_corazon }}
                    {{ form.notas_fondo.label }}
                    {{ form.notas_fondo }}
                </div>
            </div>
            <div class="col-4 card bg-white">
                <div class="card-body">
                    {{ form.genero.label }}
                    {{ form.genero }}
                    {{ form.marca.label }}
                    {{ form.marca }}
                    {{ form.contenido_neto.label }}
                    {{ form.contenido_neto }}
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}